body {
    background: linear-gradient(to right, #3494E6, #EC6EAD);
  }
  
  .calculator {
    width: 240px;
    margin: 50px auto;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 20px;
    background: linear-gradient(45deg, #f3f3f3, #e7e7e7);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  }
  
  #display {
    width: 100%;
    margin-bottom: 10px;
    padding: 15px;
    font-size: 20px;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
  }
  
  button {
    padding: 10px;
    margin-bottom: 10px;
    font-size: 18px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    cursor: pointer;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
  }
  
  button:hover {
    background-color: #ccc;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
  }
  