.dashboard-layout {
  background-color: #191B1F;
  height: 100vh;
}

.forecast-container {
  display: flex;
}


.weeklyWeatherIcon,
.currentWeatherIcon {
  margin-left: -8px;
}

.alertsBtn {
  cursor: pointer;
}

.location-instructions {
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-top: 20px;
  background-color: #f9f9f9;
}

@media (max-width: 600px) {
  .location-instructions {
      font-size: 14px;
  }
}
