main {
    width: 80%;
    margin: auto;
    text-align: center;
}

input, button {
    padding: 10px;
    font-size: 16px;
    margin-top: 10px;
}

button {
    margin-top: 0;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background-color: #f3f3f3;
    margin: 10px 0;
    padding: 10px;
    font-size: 18px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li span {
    color: #333;
}

button.remove {
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
    padding: 5px 10px;
}
  