/* App.css */
body {
  background-color: #F8F9FA; /* Light gray background for the entire app */
}

.card {
  background-color: #FFFFFF; /* White background for contrast */
  border-color: #CED4DA; /* Gray border for the cards */
}

.card-title {
  color: #007BFF; /* Blue color for the title */
}

.card-text {
  color: #343A40; /* Dark gray for text for better readability */
}

.card .fa-icon {
  color: #007BFF; /* Blue icons */
}

.container {
  padding-top: 2rem; /* Spacing on top */
}
