/* Base Styles */
body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    background-color: #f2f2f2;
    color: #333;
    margin: 0;
    padding: 0;
  }
  
  /* Center the game board */
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2em;
  }
  
  /* Main title */
  h1 {
    font-size: 2.5em;
    margin-bottom: 0.5em;
  }
  
  /* Tic-Tac-Toe board */
  .board {
    width: 300px;
    height: 300px;
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-gap: 0;
    margin-top: 2em;
  }
  
  /* Cells */
  .cell {
    width: 100px;
    height: 100px;
    border: 1px solid #007aff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    cursor: pointer;
  }
  
  .cell.x {
    color: red;
  }
  
  .cell.o {
    color: blue;
  }
  
  /* Winner message */
  #winner-message {
    font-size: 2em;
    margin-top: 1em;
  }
  
  /* Confetti canvas */
  #confetti {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 2; /* Make it appear on top */
  }